<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
  <meta charset="UTF-8">
  <title>学習記録リスト</title>
</head>
<body>
<h1>学習記録リスト</h1>

<a href="../index.html" th:href="@{/}">ホーム画面へ</a>

<br><br>

<table>
  <thead>
  <tr>
    <th>日付</th>
    <th>学習内容</th>
    <th>学習時間</th>
    <th>感想</th>
  </tr>
  </thead>
  <tbody>
  <!--  thymeleafはmodelに登録されているクラスを参照する-->
  <tr th:each="learning : ${learningList}">
    <td>
      <a href="./edit.html" th:href="@{/learningRecord/edit/{id}(id=${learning.id})}" th:text="${learning.learningDate}" >(learningDate)</a>
    </td>
    <td th:text="${learning.learningContent}">(learningContent)</td>
    <td th:text="${learning.learningTime}">(learningTime)</td>
    <td th:text="${learning.impression}">(impression)</td>
  </tr>
  </tbody>
</table>

<br><div>*日付のリンクを押すと編集できる</div>

</body>
</html>